In [33]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor as DTR
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import mean_absolute_error

In [20]:
house_data = pd.read_csv("Housing.csv")
house_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [21]:
y = house_data.price
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [22]:
house_data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [41]:
features = ['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad','guestroom', 'basement', 'hotwaterheating', 'airconditioning','parking', 'prefarea', 'furnishingstatus']
X = house_data[features]
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,2
1,8960,4,4,4,1,0,0,0,1,3,0,2
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,2
4,7420,4,1,2,1,1,1,0,1,2,0,2

In [53]:
def best_tree_depth(max_nodes, train_X, val_X, train_y, val_y):
    house_model = DTR(max_leaf_nodes=max_nodes, random_state=1)
    house_model.fit(train_X, train_y)
    predictions = house_model.predict(val_X)
    return [mean_absolute_error(predictions, val_y), predictions]
train_X, val_X, train_y, val_y = tts(X, y, random_state=1)
trees = [5, 25, 50, 75, 100, 500, 1000, 1500, 2000]
trees_depth = {}
for tree in trees:
    depth = best_tree_depth(tree, train_X, val_X, train_y, val_y)
    trees_depth[tree] = depth[0]
print(trees_depth)
print(min(trees_depth, key=trees_depth.get))

{5: 1065059.2247578695, 25: 960603.8492883168, 50: 926163.9924369061, 75: 1002276.3043828676, 100: 1019723.0810827027, 500: 1102189.3430656935, 1000: 1102189.3430656935, 1500: 1102189.3430656935, 2000: 1102189.3430656935}
50

In [54]:
best_tree_depth(50, train_X, val_X, train_y, val_y)

[926163.9924369061,
 array([7050615.38461538, 6088250.        , 7050615.38461538,
        5899250.        , 4300578.94736842, 3822700.        ,
        2884456.52173913, 6088250.        , 2856000.        ,
        4473466.66666667, 3699888.88888889, 3374233.33333333,
        3374233.33333333, 3822700.        , 8680000.        ,
        7794420.        , 3698692.30769231, 7313833.33333333,
        5624062.5       , 2884456.52173913, 3822700.        ,
        4662000.        , 4217500.        , 3668913.04347826,
        4982600.        , 5899250.        , 2884456.52173913,
        7182000.        , 5939500.        , 3668913.04347826,
        7050615.38461538, 7050615.38461538, 4217500.        ,
        4606350.        , 6088250.        , 3668913.04347826,
        4982600.        , 2884456.52173913, 4473466.66666667,
        4594333.33333333, 3140666.66666667, 3822700.        ,
        3699888.88888889, 4473466.66666667, 8771000.        ,
        4606350.        , 4606350.        , 3140666.66666667,
        2884456.52173913, 2884456.52173913, 4217500.        ,
        3668913.04347826, 2884456.52173913, 4473466.66666667,
        4300578.94736842, 4606350.        , 3668913.04347826,
        4473466.66666667, 5821666.66666667, 5821666.66666667,
        7050615.38461538, 6088250.        , 2884456.52173913,
        4473466.66666667, 4606350.        , 2884456.52173913,
        4594333.33333333, 2884456.52173913, 4982600.        ,
        4747555.55555556, 4606350.        , 5899250.        ,
        5939500.        , 2884456.52173913, 7313833.33333333,
        3668913.04347826, 3699888.88888889, 8771000.        ,
        5899250.        , 3822700.        , 4594333.33333333,
        6107500.        , 7050615.38461538, 5624062.5       ,
        6088250.        , 5939500.        , 3699888.88888889,
        2884456.52173913, 4606350.        , 2884456.52173913,
        3374233.33333333, 4473466.66666667, 2884456.52173913,
        7794420.        , 3374233.33333333, 4606350.        ,
        9542750.        , 3374233.33333333, 4739000.        ,
        9240000.        , 3822700.        , 7794420.        ,
        3668913.04347826, 3822700.        , 4606350.        ,
        8610000.        , 9800000.        , 4300578.94736842,
        4594333.33333333, 4606350.        , 5899250.        ,
        4606350.        , 3374233.33333333, 2884456.52173913,
        4300578.94736842, 3822700.        , 3822700.        ,
        5939500.        , 5899250.        , 7182000.        ,
        7050615.38461538, 3668913.04347826, 2884456.52173913,
        4606350.        , 2884456.52173913, 4473466.66666667,
        3437777.77777778, 5939500.        , 3699888.88888889,
        3822700.        , 2884456.52173913, 4473466.66666667,
        3822700.        , 3668913.04347826, 5899250.        ,
        3822700.        , 4217500.        ])]